<!--<ngt-group>-->
<!--  <ngt-instanced-mesh [args]="[data.length]"-->
<!--                      (ready)="instancedGridReady($event)"-->
<!--                      #points-->
<!--                      ngtCursor-->
<!--  >-->
<!--    <ngt-tetrahedron-geometry></ngt-tetrahedron-geometry>-->
<!--  -->
<!--    <ngt-mesh-standard-material-->
<!--        [parameters]='{ color: "#ffffff", roughness: 0.5, metalness: 0.5 }'-->
<!--    ></ngt-mesh-standard-material>-->
<!--  </ngt-instanced-mesh>-->
<!--  &lt;!&ndash;</ngt-mesh>&ndash;&gt;-->
<!--  -->
<!--  -->
<!--</ngt-group>-->


<ngt-group>
  
  <ngt-mesh *ngFor="let point of points"
            [position]="point.current.position"
            [rotation]="[0,0,0]"
            [scale]="point.current.scale"
            (animateReady)="animateObject( $event.object,point)"
  >
    <ngt-mesh-lambert-material></ngt-mesh-lambert-material>
    <!--    <ngt-tetrahedron-geometry></ngt-tetrahedron-geometry>-->
    <ngt-sphere-geometry></ngt-sphere-geometry>
  </ngt-mesh>


</ngt-group>
